doctype html
html(lang="ru")
  include parts/head.pug
  body.body
    div.wrap-header-and-intro
      include parts/header.pug
      section.intro.intro__wrap
        //picture
        //  source(media="(min-width: 1200px)" type="image/webp" srcset="img/index/intro_back_desktop@2x.webp 2x, img/index/intro_back_desktop.webp 1x")
        //  source(media="(min-width: 660px)" type="image/webp" srcset="img/index/intro_back_tablet@2x.webp 2x, img/index/intro_back_tablet.webp 1x")
        //  source(type="image/webp" srcset="img/index/intro_back_mobile.webp 1x, img/index/intro_back_mobile@2x.png 2x")
        //  source(media="(min-width: 1200px)" srcset="img/index/intro_back_desktop@2x.png 2x, img/index/intro_back_desktop.png 1x")
        //  source(media="(min-width: 660px)" srcset="img/index/intro_back_tablet@2x.png 2x, img/index/intro_back_tablet.png 1x")
        //  img.intro__bg-img(src="img/index/intro_back_mobile.png" srcset="img/index/intro_back_mobile@2x.png 2x" width="320" height="462" alt="Серая реальность. Фотография здания с колоннами, дорога, машины, пешеходы и все в серых тонах")
        picture
          source(media="(min-width: 1200px)" type="image/webp" srcset="img/index/intro_phone_desktop@2x.webp 2x, img/index/intro_phone_desktop.webp 1x")
          source(media="(min-width: 660px)" type="image/webp" srcset="img/index/intro_phone_tablet@2x.webp 2x, img/index/intro_phone_tablet.webp 1x")
          source(type="image/webp" srcset="img/index/intro_phone_mobile.webp 1x, img/index/intro_phone_mobile@2x.webp 2x")
          source(media="(min-width: 1200px)" srcset="img/index/intro_phone_desktop@2x.png 2x, img/index/intro_phone_desktop.png 1x")
          source(media="(min-width: 660px)" srcset="img/index/intro_phone_tablet@2x.png 2x, img/index/intro_phone_tablet.png 1x")
          img.intro__bg-img-phone(src="img/index/intro_phone_mobile.png" srcset="img/index/intro_phone_mobile@2x.png 2x" width="320" height="286" alt="Айфон в руке")
        picture
          source(media="(min-width: 1200px),(min-width: 660px)" type="image/webp" srcset="img/index/intro_screen_tablet@2x.webp 2x, img/index/intro_screen_tablet.webp 1x")
          source(type="image/webp" srcset="img/index/intro_screen_mobile.webp 1x, img/index/intro_screen_mobile@2x.webp 2x")
          source(media="(min-width: 1200px),(min-width: 660px)" srcset="img/index/intro_screen_tablet@2x.png 2x, img/index/intro_screen_tablet.png 1x")
          img.intro__bg-img-screen(src="img/index/intro_screen_mobile.png" srcset="img/index/intro_screen_mobile@2x.png 2x" width="111" height="197" alt="Приложение Pink в действии. Приукрашенная в розовый цвет действительность")
        div.intro__wrap-content
          h1.intro__title Взгляните на жизнь иначе!
          div.intro__link-wrap
            a.intro__button(href="https://play.google.com/") Скачать приложение
            div.intro__link-os.link-os
              a.link-os__apple(href="https://apps.apple.com/" aria-label="Магазин приложений для Apple")
                  picture
                      source(type="image/webp" srcset="img/index/logo_apple.webp 1x, img/index/logo_apple@2x.webp 2x")
                      img(src="img/index/logo_apple.png" srcset="img/index/logo_apple@2x.png" width="47" height="56" alt="Иконка Apple")
              a.link-os__android(href="https://play.google.com/" aria-label="Магазин приложений для Android")
                  picture
                      source(type="image/webp" srcset="img/index/logo_android.webp 1x, img/index/logo_android@2x.webp 2x")
                      img(src="img/index/logo_android.png" srcset="img/index/logo_android@2x.png" width="43" height="47" alt="Иконка Android")
              a.link-os__microsoft(href="http://www.windowsphone.com/store/" aria-label="Магазин приложений для Windous")
                  picture
                      source(type="image/webp" srcset="img/index/logo_microsoft.webp 1x, img/index/logo_microsoft@2x.webp 2x")
                      img(src="img/index/logo_microsoft.png" srcset="img/index/logo_microsoft@2x.png" width="43" height="47" alt="Иконка Windous")
            p.intro__text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
    main
      section.description
        h2.visually-hidden Информация о приложении
        h2.description__title Устали от серости мегаполиса?
        h2.description__subtitle Нам есть, что вам предложить!
        ul.description__list
          li.description__item.item
            h3.item__title Поднимает настроение
            p.item__text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
          li.description__item.item
            h3.item__title Меняет мир вокруг
            p.item__text Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
          li.description__item.item
            h3.item__title Заводит новых друзей
            p.item__text Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
      section
        h2.visually-hidden Отзывы о приложении
        blockquote
          h3 Николай Петров
          p 25 лет, водитель трамвая
          p «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
        div
          input(type="radio"
                name="reviews"
                value="reviews_1"
                checked)
          input(type="radio"
                name="reviews"
                value="reviews_2")
          input(type="radio"
                name="reviews"
                value="reviews_3")
      section
        h2.visually-hidden Пакеты доступные к покупке
        div
          input(type="radio"
                name="price"
                value="base"
                )
          input(type="radio"
                name="price"
                value="standart"
                checked)
          input(type="radio"
                name="price"
                value="anlim")
      section
        h2 Остались вопросы? <br> Свяжитесь с нами!
        ul
          li
            h3 Звоните:
            a(href="tel:+78125556666") +7 (812) 555-66-66
          li
            h3 Пишите:
            a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
          li
            h3 Приезжайте в гости:
            p ул. Большая Конюшенная, 19/8
        iframe(loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037907470375!2d30.318562737554867!3d59.93871642390735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1663844631789!5m2!1sru!2sru" width="320" height="200" style="border:0;" allowfullscreen title="Офис компании по адресу ул. Большая Конюшенная 19/8, Санкт-Петербург")
    include parts/footer.pug

      //Миксины
      mixin code(title, url, anchor)
        .container
          p.class=title
          a.ferd(href=url)&attributes(attributes)= anchor


          if block
              block
          else
              p Нет текста для отображения

      +code("Ghbtna", ",jshgahsa", "sjdghfjshgdfe")(target="_blank" data-type="link")
      +code("reatna", ",jshgahsa", "sjdjgagsjshgdfe")
      +code("iuygna", ",hs24545a", "5454158fjshgdfe")
        p это блок текста миксина

      mixin numbers(id, ...items)
        ul.numbers(id= id class="items-number")
          each item in items
            li= item

      +numbers("num", 1,2,3,4)




